<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6BKB13zrlI1qAuRnY3-HoYxKGxaZwwNE</string>
	<key>GCM_SENDER_ID</key>
	<string>731770282101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>None.akaSpotifyApp</string>
	<key>PROJECT_ID</key>
	<string>akaspotifyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>akaspotifyapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731770282101:ios:e8a794ad98fb89e39dd83c</string>
</dict>
</plist>